body {
    text-align: center;
    position: relative;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.nameDiv{
    text-transform: uppercase;
}


img {
    margin-top: 120px;
    width: 17%;
}